<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Session Testing</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session['count']}}</p>
        <div class='buttonContainer'>
            <a href='/destroy_session'><button>Reset</button></a>
            <a href='/incrementTwo'><button>Add 2</button></a>
        </div>
        <!-- <form action='/incrementCustom'>
            <input type="text" name="myIncrement" style="width: 20px;">
            <button>IncrementCustom</button>
        </form> -->
    </div>
</body>
</html>